<div class="ticket-container">
    <h1>Resumen de la compra</h1>
    <div class="productos-container">
        <div class="img-producto">
            <img src="https://http2.mlstatic.com/D_NQ_NP_905422-MLA40186525753_122019-O.jpg">
        </div>
        <div class="nombre-producto">
            <h2>Mircrosoft Xbox Series S 512gb Standard Color Blanco</h2>
        </div>
    </div>
    <div class="cuenta-container">
        <div class="total-productos">
            <p class="title">Pagas</p>
            <p>$ 5,449</p>
        </div>
        <div class="total-envio">
            <p class="title">Envio</p>
            <p>Gratis</p>
        </div>
    </div>
    <div class="total-container">
        <div class="total">
            <p class="title">Pagas</p>
            <p>5,499</p>
        </div>
    </div>

    <div class="button-container">
        <button> Comprar Ahora
        </button>
    </div>

</div>